<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulario Habilidades</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Agregar nueva Habilidad</h1>
        <form th:action="@{/skills/add}" th:object="${skill}" method="post">
            <label th:for="nombre">Nombre</label>
            <input id="nombre" type="text" th:field="*{name}">
            <label th:for="level">Level</label>
            <input id="level" type="text" th:field="*{level}" >
            <button type="submit">Guardar</button>
        </form>
    </body>
</html>
