<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Skills</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Skills List</h1>
        <p th:if="${skills.isEmpty()}">No hay datos</p>
        
        <ul th:if="${!skills.isEmpty()}" >
            <li th:each="skill, skillStat : ${skills}" >
                <span th:text="|Habilidad: ${skill.name}, Nivel: ${skill.level}|" ></span>
                <a th:href="@{/skills/id/{i}(i=${skillStat.index})}">Ver detalle</a>
            </li>
        </ul>
        
        
        <form action="/skills"  method="get">
            <label th:for="filter">Buscar</label>
            <input id="filter" type="text" th:value="${filter}" name="filter">
            
            <button type="submit">Buscar</button>
        </form>
        
        
    </body>
</html>
